%section#blog
  .hgroup
    %h1 Bars
    %h2 Your BarSpinners

  .row
    #leftcol.span8
      
      - if @posts.present?
        = render @posts
      - else 
        %h2 No Bars Created
        = link_to 'Create a new one', 'new_post_path', :class => 'btn'
      
    = render 'shared/sidebar'