%section
  .hgroup
    %h1 Advertisement Platforms
    %h2 Your Advertisement Platforms
    = link_to 'Create Advertisement Platform', new_ad_platform_path, :class => 'btn pull-right'
    .clearfix


  .row
    #leftcol.span8
      
      - if @ad_platforms.present?
        %ul.thumbnails
          = render @ad_platforms

      - else 
        %h4 You don't have any advertisement platforms yet
        = link_to 'Create a new one', new_ad_platform_path, :class => 'btn'
      
    = render 'shared/sidebar'